@CHARSET "UTF-8";
.tab{
	FONT-SIZE: 14px;
	FONT-FAMILY: "宋体";
}
.tabdiv{
	FONT-SIZE:12px;
	WIDTH: 100%;
}
.tags{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px 0px 10px;
	WIDTH: 99%;
	PADDING-TOP: 0px;
	HEIGHT: 23px;
}
.tags LI {
	BACKGROUND: url(tagleft.gif) no-repeat left bottom;
	FLOAT: left;
	MARGIN-RIGHT: 1px;
	LIST-STYLE-TYPE: none;
	HEIGHT: 23px;
}
.tags LI A {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	BACKGROUND: url(tagright.gif) no-repeat right bottom;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #999;
	LINE-HEIGHT: 23px;
	PADDING-TOP: 0px;
	HEIGHT: 23px;
	TEXT-DECORATION: none;
}
.tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	WIDTH: 4px;
}
.tags LI.selectTag {
	BACKGROUND-POSITION: left top;
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
	HEIGHT: 25px;
}
.tags LI.selectTag A {
	BACKGROUND-POSITION: right top;
	COLOR: #000;
	font-weight: bold;
	LINE-HEIGHT: 25px;
	HEIGHT: 25px;
}
.tagContentdiv {
	BORDER-RIGHT: #D4D4D4 1px solid;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #D4D4D4 1px solid;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	BORDER-LEFT: #D4D4D4 1px solid;
	PADDING-TOP: 1px;
	BORDER-BOTTOM: #D4D4D4 1px solid;
	BACKGROUND-COLOR: #fff;
}
.tagContent {
	PADDING: 5px;
	DISPLAY: none;
	BACKGROUND: url(bg.gif) repeat-x;
	COLOR: #474747;
	overflow:auto;
}

.tagContent li{
	list-style:none;
}