@CHARSET "UTF-8";

.at{
	color: #214079;
	text-decoration:none;
	padding:2px;
	font:12px '宋体';
	border-top:1px solid #dad4c8;
	border-left:1px solid #dad4c8;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	background-color:#CEEBFA;
}
.at:hover {
	color: #214079;
	text-decoration:none;
	padding:2px;
	font:12px '宋体';
	border-top:1px solid #DDD7FF;
	border-left:1px solid #DDD7FF;
	border-right:1px solid #777777;
	border-bottom:1px solid #777777;
	background-color:#F9C538;
}

.atFocus {
	color: green;
	padding:2px;
	font:12px '宋体';
	border-top:1px solid #dad4c8;
	border-left:1px solid #dad4c8;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	background-color:#CEEBFA;
}